.input {
  background: rgba(229, 229, 229, 0.9);
  border-radius: rem(8px);
  width: 100%;
  height: rem(52px);
  color: #333333;
  outline: none;
  border: none;
  padding: rem(0 10px 0 20px);
  font-weight: 600;
  font-size: rem(20px);
  line-height: rem(20px);
  box-sizing: border-box;

  &.--white {
    height: rem(64px);
    background: #ffffff;
    box-shadow: rem(0px 1px 1px rgba(71, 70, 70, 0.25));
    border-radius: rem(12px);
    font-size: rem(26px);
    line-height: rem(26px);
    font-weight: 400;
  }
}
