.input {
  background: rgba(229, 229, 229, 0.9);
  border-radius: rem(8px);
  width: 100%;
  height: rem(52px);
  color: #333333;
  outline: none;
  border: none;
  padding: rem(0 10px 0 20px);
  font-weight: 600;
  font-size: rem(20px);
  line-height: rem(20px);
  box-sizing: border-box;
}
