.login {
  width: rem(600px);
  padding: rem(20px 100px 40px);
  background: #ffffff;
  border-radius: rem(12px);
  box-sizing: border-box;

  &__title {
    font-weight: 600;
    font-size: rem(36px);
    line-height: rem(36px);
    text-align: center;
  }

  &__content {
    margin: rem(28px auto);

    &-row {
      &:not(:first-child) {
        margin-top: rem(24px);
      }
    }

    &-label {
      font-weight: 600;
      font-size: rem(18px);
      line-height: rem(18px);
      margin-bottom: rem(8px);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
